* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  transition: .3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 15px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #23232e;
  height: 8vh;
}

main {
  background: url("bg.jpg ") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav_list {
  display: flex;
  list-style: none;
}

.nav_list li {
  letter-spacing: 3px;
  margin: 0 30px;
}

.mobile_menu {
  display: none;
  cursor: pointer;
}

.mobile_menu div {
  width: 32px;
  height: 2px;
  background: white;
  margin: 8px;
  transition: .35s ease-in;
}

.mobile_menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);

}

.mobile_menu.active .line2 {
  opacity: 0;
}

.mobile_menu.active .line3 {
  transform: rotate(45deg) translate(-5px,-7px);
}


@media (max-width:999px) {
  body {
    overflow-x: hidden;
  }

  .nav_list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform .3s ease-in;
  }

  .nav_list li {
    margin: 0;
    opacity: 0;
  }

  .mobile_menu {
    display: block;
  }

  .nav_list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}